/.*
/HW1/Debug/*
/HW1/.*
/HW2/Debug/*
/HW2/.*
/HW1Prev/Debug/*
/HW1Prev/.*
/HW3/Debug/*
/HW3/.*
/HW4/Debug/*
/HW4/.*
/HW4/files/*
/HW4/output.txt
/HW4/encrypted_p4.img
/HW5/Debug/*
/HW5/.*
/HW5/files/*
