/.*
/HW1/Debug/*
/HW1/.*
/HW2/Debug/*
/HW2/.*
/HW1Prev/Debug/*
/HW1Prev/.*
/HW3/Debug/*
/HW3/.*
/HW4/Debug/*
/HW4/.*
/HW4/files/*
/HW4/output.txt
/HW4/encrypted_p4.img
/HW5/Debug/*
/HW5/.*
/HW5/files/*
/HW6/Debug/*
/HW6/.*
/HW6/files/*
/Hw6/html/*
/HW7/Debug/*
/HW7/.*
/HW7/files/*
/HW7/html/*
/HW8/Debug/*
/HW8/.*
/HW8/files/*
/HW8/html/*
/HW8/HW8_Doxyfile.Doxyfile
/HW8/HW8_Doxyfile.Doxyfile.bak
/HW9/Debug/*
/HW9/.*
/HW9/files/*
/HW9/html/*
/HW9/HW9_Doxyfile.Doxyfile
/HW9/HW9_Doxyfile.Doxyfile.bak
/HW10/Debug/*
/HW10/.*
/HW10/files/*
/HW10/html/*
/HW10/HW10_Doxyfile.Doxyfile
/HW10/HW10_Doxyfile.Doxyfile.bak
/CPP_HW1/Debug/*
/CPP_HW1/.*
/CPP_HW1/files/*
/CPP_HW1/html/*
/CPP_HW1/CPP_HW1_Doxyfile.Doxyfile
/CPP_HW1/CPP_HW1_Doxyfile.Doxyfile.bak
/CPP_HW2/Debug/*
/CPP_HW2/.*
/CPP_HW2/files/*
/CPP_HW2/html/*
/CPP_HW2/CPP_HW2_Doxyfile.Doxyfile
/CPP_HW2/CPP_HW2_Doxyfile.Doxyfile.bak
